@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
html{
  @apply text-blue-gray-700;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-green-500 text-gray-100 cursor-pointer
    hover:bg-green-900
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}